<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="/fragments/head :: head"></head>
<body>
<div class="container">
    <header th:replace="/fragments/navbar :: navbar"></header>
    <form th:action="@{|/car/make-order/${carId}|}" method="post">
        <div><a th:text="#{departure.order}"></a><input type="text" th:name="departure" th:value="${order.departure}"/>
        </div>
        <div>
            <a th:text="#{arrival.order}"></a> <input type="text" th:name="arrival" th:value="${order.arrival}"/>
           </div>
       <div><button class=" btn" type="submit" th:text="#{submit.button}"></button></div>
    </form>
</div>
</body>
</html>