<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/head :: head">
    <title></title>
</head>
<body>
<div class="container">
    <header th:replace="/fragments/navbar :: navbar"></header>
    <div class="grid-container">
        <div class="grid-item car-item"  th:each="car : ${cars.content}">
            <img th:src="${car.photo}" class="car-image" />
            <div><label th:text="#{car.name}"></label><span >  </span>
                <span th:text="${car.name}"> </span></div>
            <div><label th:text="#{car.capacity}"></label>
                <span th:text="${car.capacity}"> </span></div><span >  </span>
            <div><label th:text="#{car.carType}"></label><span >  </span>
                <span th:text="${car.carType}"> </span></div>
            <div sec:authorize="hasAuthority('USER')" th:if="${#authorization.expression('isAuthenticated()')}">
            <div><label th:text="#{car.carStatus}"></label><span >  </span>
                <span th:text="${car.carStatus}"> </span></div>
            </div>
            <div th:if="${car.carStatus.name() == 'READY'}">
            <td><a class="btn btn-outline-primary" th:href="@{/car/make-order/{id}(id =${car.id})}" th:text="#{makeOrder.button}"></a></td>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')" th:if="${#authorization.expression('isAuthenticated()')}">
             <form th:action="@{|/car/change-status/${car.id}|}">
                 <div>
                     <div class="form-group blu-margin">
                         <a th:text="#{car.carStatus}"></a>
                         <select class="form-control"  th:name="carStatus" id="dropOperator" >
                             <option   th:each="status : ${carStatus}"  th:value="${status}" th:text="${status}"
                                       th:selected="${car.carStatus.name() == status}"></option>
                         </select>
                     </div>
                 </div>
                 <div><button class="btn" type="submit" th:text="#{submit.button}"></button></div>
             </form>
            </div>
            </div>
        </div>
    <ul th:if="${cars.totalPages > 0}" class="nav nav-tabs justify-content-center">
        <li class="nav-item"  th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/cars(size=${cars.size}, page=${pageNumber})}"
               th:text=${pageNumber}
               th:class="${pageNumber==cars.number + 1} ? active"></a>
        </li>
    </ul>
</div>
</body>
</html>