<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/head :: head">
    <title></title>
</head>
<body>
<div class="container">
    <header th:replace="/fragments/navbar :: navbar">
    </header>
    <div sec:authorize="hasAuthority('ADMIN')" th:if="${#authorization.expression('isAuthenticated()')}">
<a class="btn btn-outline-primary"  href="/add-car" th:text="#{addCar.button}"></a>
    </div>
<h1 th:text="#{allCars.text}"></h1>
    <div class="grid-container">
        <div class="grid-item car-item"  th:each="car : ${carList.content}">
            <img th:src="${car.photo}" class="car-image" />
            <div><label th:text="#{car.name}"></label><span >  </span><a th:text="${car.name}"> </a></div>
            <div><label th:text="#{car.capacity}"></label><span >  </span><a th:text="${car.capacity}"> </a></div>
            <div><label th:text="#{car.carType}"></label><span >  </span><a th:text="${car.carType}"> </a></div>
            <div sec:authorize="hasAuthority('ADMIN')" th:if="${#authorization.expression('isAuthenticated()')}">
                <div th:if="${car.active}">
                    <td><a class="btn btn-outline-primary" th:href="@{/car/{id}(id =${car.id})}" th:text="#{deleteCar.button}"></a></td>
                </div>
                <div th:unless="${car.active}">
                    <td><a class="btn btn-outline-primary" th:href="@{/car/{id}(id =${car.id})}" th:text="#{returnCar.button}"></a></td>
                </div>
                <div>
                <td><a class="btn btn-outline-primary" th:href="@{/car/update-car/{id}(id =${car.id})}" th:text="#{update.button}"></a></td>
                </div>
            </div>
        </div>
    </div>
    <ul th:if="${carList.totalPages > 0}" class="nav nav-tabs justify-content-center">
        <li class="nav-item"  th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/all-cars(size=${carList.size}, page=${pageNumber})}"
               th:text=${pageNumber}
               th:class="${pageNumber==carList.number + 1} ? active"></a>
        </li>
    </ul>
</div>
</body>
</html>