<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>
<a class="btn btn-outline-primary"  href="/add-car">Add car</a>
<h1>Choose your car</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Capacity</th>
        <th scope="col" >Category</th>
    </tr>
    </thead>
    <tbody>
    <tr scope="row" th:each="car : ${carList}">
        <td th:text="${car.name}"> </td>
        <td th:text="${car.capacity}"> </td>
        <td th:text="${car.carType}">> </td>
    </tr>
    </tbody>
</table>
</body>

</html>