<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/head :: head">
    <title></title>
</head>
<body>
<div class="container">
    <header th:replace="/fragments/navbar :: navbar">
    </header>
    <form>
        <div>
            <a th:text="#{car.carType}"></a>
            <select class="form-control" th:name="carType" id="dropOperator">
                <option th:each="type : ${carType}" th:value="${type}" th:text="${type}"></option>
            </select>
        </div>
<input th:type="number" id="capacity"/>
        <button id="find-car-btn" class="btn" type="button"  th:text="#{submit.button}"></button>
</form>

    <div class="grid-container" id="grid-car-container">
<!--        <div class="grid-item car-item" >-->
<!--            <img " class="car-image" />-->
<!--            <div><label th:text="#{car.name}"></label></div>-->
<!--            <div><label th:text="#{car.capacity}"></label></div>-->
<!--            <div><label th:text="#{car.carType}"></label></div>-->
<!--                <td><a class="btn btn-outline-primary" th:href="@{/car/make-order/{id}(id =${car.id})}" th:text="#{makeOrder.button}"></a></td>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
</body>
</html>

<script th:inline="javascript">
    $(document).ready(function (){
        $("#find-car-btn").click(()=>{
            let carValues={};
            carValues.capacity= $("#capacity").val()
            carValues.carType= $("#dropOperator").val()
            $.ajax({
                type: 'GET',
                url: "/find-car-filter",
                contentType: 'application/json',
                dataType: 'json',
                data: carValues,
                success: function (data) {
                    console.log(data)
                    addCar(data);
                },
                error: function (data) {
                    console.log("error")
                    console.log(data);
                    //    todo: implement
                }
            });
        })
    });

    function addCar(page) {

        const container = $("#grid-car-container")[0];
        container.innerHTML = "";
        page.content.forEach((car)=> {
            console.log(car.name);
            console.log(car.photo);

            let carDiv = document.createElement("div");
            let carDivClasses = carDiv.classList;
            carDivClasses.add("grid-item");
            carDivClasses.add("car-item");

            let photo = document.createElement("img");
            photo.className= "car-image";
            photo.setAttribute("src" , car.photo);

            let nameDiv = document.createElement("div");
            let nameText = document.createElement("label");
            let nameWhiteSpace = document.createElement("span");
            nameWhiteSpace.innerText = " "
            nameText.innerText = [[#{car.name}]]
            let name = document.createElement("span");
            name.innerText= car.name;

            let typeDiv = document.createElement("div");
            let typeText = document.createElement("label");
            let typeWhiteSpace = document.createElement("span");
            typeWhiteSpace.innerText = " "
            typeText.innerText = [[#{car.carType}]]
            let carType = document.createElement("span");
            carType.innerText= car.carType;

            let capacityDiv = document.createElement("div");
            let capacityText = document.createElement("label");
            let capacityWhiteSpace = document.createElement("span");
            capacityWhiteSpace.innerText = " "
            capacityText.innerText = [[#{car.capacity}]]
            let capacity = document.createElement("span");
            capacity.innerText= car.capacity;

            let makeOrderLink = document.createElement("a");
            let makeOrderClasses = makeOrderLink.classList;
            makeOrderClasses.add("btn");
            makeOrderClasses.add("btn-outline-primary");
            makeOrderLink.setAttribute("href", "/car/make-order/"+car.id);
            makeOrderLink.innerText= [[#{makeOrder.button}]];

            carDiv.appendChild(photo);

            nameDiv.appendChild(nameText);
            nameDiv.appendChild(nameWhiteSpace)
            nameDiv.appendChild(name);

            carDiv.appendChild(nameDiv);

            typeDiv.appendChild(typeText);
            typeDiv.appendChild(typeWhiteSpace)
            typeDiv.appendChild(carType);

            carDiv.appendChild(typeDiv);

            capacityDiv.appendChild(capacityText);
            capacityDiv.appendChild(capacityWhiteSpace)
            capacityDiv.appendChild(capacity);
            carDiv.appendChild(capacityDiv);

            carDiv.appendChild(makeOrderLink);
            container.appendChild(carDiv);
        })

    }
</script>